@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --radius: 0.7rem;

  --foreground: black;
  --background: white;

  --primary: #000000;
  --primary-foreground: #fafafa;

  --secondary: #f4f4f5;
  --secondary-foreground: #18181b;

  --destructive: #ef4444;
  --destructive-foreground: #fafafa;

  --card: #ffffff;
  --card-foreground: #09090b;

  --popover: #ffffff;
  --popover-foreground: #09090b;

  --muted: #f4f4f5;
  --muted-foreground: #71717a;
  --border: #e4e4e7;
}

.dark {
  --foreground: white;
  --background: black;

  --primary: #ffffff;
  --primary-foreground: #18181b;

  --secondary: #202023;
  --secondary-foreground: #fafafa;

  --destructive: #d24646;
  --destructive-foreground: #fafafa;

  --card: #09090b;
  --card-foreground: #fafafa;

  --popover: #0b0a09;
  --popover-foreground: #fafafa;

  --muted: #161619;
  --muted-foreground: #a1a1aa;
  --border: #2f2f34;
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
